NEXT_PUBLIC_TOPIC_ID="0.0.xxxxx"
NEXT_PUBLIC_MIRROR_NODE_URL="https://testnet.mirrornode.hedera.com"

HEDERA_OPERATOR_ID="0.0.xxxxx"
HEDERA_OPERATOR_KEY="302e02010..."

HEDERA_TREASURY_CONTRACT_ID="0.0.xxxxx"
NEXT_PUBLIC_TREASURY_TOKEN_ADDRESS="0.0.xxxxx"
NEXT_PUBLIC_TREASURY_POLL_INTERVAL_MS="5000"
