HEDERA_OPERATOR_ID="0.0.xxxxx"
HEDERA_OPERATOR_KEY="302e02010..."

NEXT_PUBLIC_TOPIC_ID="0.0.xxxxx"
NEXT_PUBLIC_MIRROR_NODE_URL="https://testnet.mirrornode.hedera.com"

NEXT_PUBLIC_HEDERA_TREASURY_CONTRACT_ID="0.0.xxxxx"
NEXT_PUBLIC_TREASURY_POLL_INTERVAL_MS="5000"

NEXT_PUBLIC_SAUCERSWAP_API_URL="https://test-api.saucerswap.finance"
NEXT_PUBLIC_SAUCERSWAP_API_KEY=""

NEXT_PUBLIC_HEDERA_PAIRWHITELIST_CONTRACT_ID=0.0.xxxxx"

NEXT_PUBLIC_RPC_PROVIDER_URL="https://testnet.hashio.io/api"

NEXT_PUBLIC_HASHSCAN_URL="https://hashscan.io/testnet"
NEXT_PUBLIC_X_LINK="https://x.com/"
